.htmleaf-container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden
}

.htmleaf-content {
	font-size: 150%;
	padding: 3em 0
}

.htmleaf-content h2 {
	margin: 0 0 2em;
	opacity: .1
}

.htmleaf-content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: .65em
}

.bgcolor-1 {
	background: #f0efee
}

.bgcolor-2 {
	background: #f9f9f9
}

.bgcolor-3 {
	background: #e8e8e8
}

.bgcolor-4 {
	background: #2f3238;
	color: #fff
}

.bgcolor-5 {
	background: #df6659;
	color: #521e18
}

.bgcolor-6 {
	background: #2fa8ec
}

.bgcolor-7 {
	background: #d0d6d6
}

.bgcolor-8 {
	background: #3d4444;
	color: #fff
}

.bgcolor-9 {
	background: #ef3f52;
	color: #fff
}

.bgcolor-10 {
	background: #64448f;
	color: #fff
}

.htmleaf-header {
	padding: 3em 190px 4em;
	letter-spacing: -1px;
	text-align: center
}

.htmleaf-header h1 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.htmleaf-header h1 span {
	font-family: Raleway;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: .8em 0 .5em 0;
	color: #c3c8cd;
	text-shadow: none
}

.htmleaf-demo a {
	color: #1d7db1;
	text-decoration: none
}

.htmleaf-demo {
	width: 100%;
	padding-bottom: 1.2em
}

.htmleaf-demo a {
	display: inline-block;
	margin: .5em;
	padding: .6em 1em;
	border: 3px solid #1d7db1;
	font-weight: 700
}

.htmleaf-demo a:hover {
	opacity: .6
}

.htmleaf-demo a.current {
	background: #1d7db1;
	color: #fff
}

.htmleaf-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center
}

.htmleaf-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg)
}

.htmleaf-icon {
	display: inline-block;
	margin: .5em;
	padding: 0 0;
	width: 1.5em;
	text-decoration: none
}

.htmleaf-icon span {
	display: none
}

.htmleaf-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-family: icomoon;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased
}

.htmleaf-footer {
	width: 100%;
	padding-top: 10px
}

.htmleaf-small {
	font-size: .8em
}

.center {
	text-align: center
}

.icon-home:before {
	content: "\e600"
}

.icon-pacman:before {
	content: "\e623"
}

.icon-users2:before {
	content: "\e678"
}

.icon-bug:before {
	content: "\e699"
}

.icon-eye:before {
	content: "\e610"
}

.icon-eye-blocked:before {
	content: "\e611"
}

.icon-eye2:before {
	content: "\e612"
}

.icon-arrow-up-left3:before {
	content: "\e72f"
}

.icon-arrow-up3:before {
	content: "\e730"
}

.icon-arrow-up-right3:before {
	content: "\e731"
}

.icon-arrow-right3:before {
	content: "\e732"
}

.icon-arrow-down-right3:before {
	content: "\e733"
}

.icon-arrow-down3:before {
	content: "\e734"
}

.icon-arrow-down-left3:before {
	content: "\e735"
}

.icon-arrow-left3:before {
	content: "\e736"
}

@media screen and (max-width:50em) {
	.htmleaf-header {
		padding: 3em 10% 4em
	}
	.htmleaf-header h1 {
		font-size: 2em
	}
}

@media screen and (max-width:40em) {
	.htmleaf-header h1 {
		font-size: 1.5em
	}
}

@media screen and (max-width:30em) {
	.htmleaf-header h1 {
		font-size: 1.2em
	}
}

/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */

html.swipebox-html.swipebox-touch {
	overflow: hidden !important
}

#swipebox-overlay img {
	border: none !important
}

#swipebox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999 !important;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#swipebox-container {
	position: relative;
	width: 100%;
	height: 100%
}

#swipebox-slider {
	-webkit-transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	white-space: nowrap;
	position: absolute;
	display: none;
	cursor: pointer
}

#swipebox-slider .slide {
	height: 100%;
	width: 100%;
	line-height: 1px;
	text-align: center;
	display: inline-block
}

#swipebox-slider .slide:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px
}

#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	vertical-align: middle
}

#swipebox-slider .slide .swipebox-video-container {
	background: 0 0;
	max-width: 1140px;
	max-height: 100%;
	width: 100%;
	padding: 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0
}

#swipebox-slider .slide-loading {
	background: url(../images/loader.gif) no-repeat center center
}

#swipebox-bottom-bar,
#swipebox-top-bar {
	-webkit-transition: .5s;
	transition: .5s;
	position: absolute;
	left: 0;
	z-index: 999;
	height: 50px;
	width: 100%
}

#swipebox-bottom-bar {
    /* bottom: -50px
     */
    top: 50%;
    margin-top: -25px;
}

/* #swipebox-bottom-bar.visible-bars {
	-webkit-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0)
} */

#swipebox-top-bar {
	top: -50px
}

#swipebox-top-bar.visible-bars {
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0)
}

#swipebox-title {
	display: block;
	width: 100%;
	text-align: center
}

#swipebox-close,
#swipebox-next,
#swipebox-prev {
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	border: none !important;
	text-decoration: none !important;
	cursor: pointer;
	width: 50px;
	height: 50px;
    top: 0;
    margin-right: 10px;
}

#swipebox-arrows {
	display: block;
	margin: 0 auto;
	width: 92%;
	height: 50px
}

#swipebox-prev {
	background-position: -32px 13px;
	float: left
}

#swipebox-next {
	background-position: -78px 13px;
	float: right
}

#swipebox-close {
	top: 0;
	right: 0;
	position: absolute;
	z-index: 9999;
	background-position: 15px 12px
}

.swipebox-no-close-button #swipebox-close {
	display: none
}

#swipebox-next.disabled,
#swipebox-prev.disabled {
	opacity: .3
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
	-webkit-animation: rightSpring .3s;
	animation: rightSpring .3s
}

.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
	-webkit-animation: leftSpring .3s;
	animation: leftSpring .3s
}

.swipebox-touch #swipebox-container:after,
.swipebox-touch #swipebox-container:before {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	content: ' ';
	position: absolute;
	z-index: 999;
	top: 0;
	height: 100%;
	width: 20px;
	opacity: 0
}

.swipebox-touch #swipebox-container:before {
	left: 0;
	-webkit-box-shadow: inset 10px 0 10px -8px #656565;
	box-shadow: inset 10px 0 10px -8px #656565
}

.swipebox-touch #swipebox-container:after {
	right: 0;
	-webkit-box-shadow: inset -10px 0 10px -8px #656565;
	box-shadow: inset -10px 0 10px -8px #656565
}

.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
	opacity: 1
}

.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
	opacity: 1
}

@-webkit-keyframes rightSpring {
	0% {
		left: 0
	}
	50% {
		left: -30px
	}
	100% {
		left: 0
	}
}

@keyframes rightSpring {
	0% {
		left: 0
	}
	50% {
		left: -30px
	}
	100% {
		left: 0
	}
}

@-webkit-keyframes leftSpring {
	0% {
		left: 0
	}
	50% {
		left: 30px
	}
	100% {
		left: 0
	}
}

@keyframes leftSpring {
	0% {
		left: 0
	}
	50% {
		left: 30px
	}
	100% {
		left: 0
	}
}

/* @media screen and (min-width:800px) {
	#swipebox-close {
		right: 10px
	}
	#swipebox-arrows {
		width: 92%;
		max-width: 800px
	}
} */

#swipebox-overlay {
	background: #0d0d0d
}

#swipebox-bottom-bar,
#swipebox-top-bar {
	text-shadow: 1px 1px 1px #000;
	/* background: #000; */
	opacity: .95
}

#swipebox-top-bar {
	color: #fff !important;
	font-size: 15px;
	line-height: 43px;
	font-family: Helvetica, Arial, sans-serif
}
